h1 {
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#container {
    border: 2px solid black;
    margin-top: 10%;
    z-index: 0;
    box-shadow: 2px 4px 0px 0px grey;
}

#container form {
    margin-top: 25px;
    text-align: center;
}

#bouton {
    display: flex;
    justify-content: right;
    margin-right: 15%;
    margin-bottom: 5%;
}

select {
    box-shadow: 4px 2px 0px 0px grey;
    width: 80%;
    z-index: 2;
}

p {
    text-align: center;
}

button {
    background-color: #00897b;
    border-radius: 10%;
    box-shadow: 4px 4px 5px 0px black;
    color: #FFFFFF;
    height: 40px;
    width: 80px;
    z-index: 4;
}
button:active {
    background-color: #1A237E;
    box-shadow: 0px 0px 2px 2px black;
    color: white;
    font-weight:700;
}

#tableau {
    background-color: #3f51b5;
    border: 2px solid red;
    box-shadow: 5px 4px 2px 0px #CFD8DC;
    color: #76ff03;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
}